*
{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box ;
}

header
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: yellow;
    text-align: center;
    width: 100%;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}

nav
{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: yellow;
    text-align: center;
    border: 1px solid gray;
    width: 20%;
    height: 200px;
}

article
{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: yellow;
    text-align: center;
    border: 1px solid gray;
    width: 60%;
    height: 200px;
}

div
{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: yellow;
    text-align: center;
    border: 1px solid gray;
    width: 20%;
    height: 200px;
}

footer
{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: yellow;
    text-align: center;
    width: 100%;
    border: 1px solid gray;
}